.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin-top: 30px;
}

.header {
  color: #48494b;
  font-size: 5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.button {
  position: relative;
  width: 10rem;
  height: 3rem;
  margin-top: 1rem;
  top: -200px;
}
