<h2 class="header__text">#Anu-ano ang mga orders?</h2>
<div class="header">
  <div class="header__total">
    <span class="total total__text">
      TOTAL:
    </span>
    <span class="total total__cost"> {{ cost }} PHP </span>
  </div>
  <div class="header__submit">
    <button mat-button mat-icon-button (click)="openCartModal()">
      <mat-icon class="total__button">add_circle</mat-icon>
    </button>
  </div>
</div>
<div class="cart">
  <div class="cart__item">
    <div class="cart__quantity">
      <div class="item__circle">
        <span class="item__quantity">x1</span>
      </div>
    </div>
    <div class="cart__description">
      <span class="item__name">Frankie's Wings</span>
      <span class="item__owner">Order ni: Franrey</span>
    </div>
    <div class="cart__cost">
      <span class="item__cost">PHP 500</span>
    </div>
  </div>
</div>
<div class="bill">
  <button
    class="bill__button"
    mat-raised-button
    color="primary"
    routerLink="/dashboard/bill"
  >
    MAGBABAYAD NA KAMI
  </button>
</div>
