.header {
  display: flex;
  flex: 1;
  align-items: center;

  &__total {
    display: flex;
    flex-direction: row;
    flex-grow: 4;
    padding: 0.33rem;
    border: 1px #48494b solid;
  }

  &__submit {
    display: flex;
    flex: 1;
  }

  &__text {
    color: #48494b;
    font-weight: 600;
    margin-bottom: 0.33rem;
  }
}

.total {
  display: flex;
  flex: 1;
  font-size: 1.5rem;

  &__text {
    flex-grow: 1;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__cost {
    flex-grow: 3;
  }

  &__button {
    color: purple;
    font-size: 2rem;
  }
}
