<div class="cart">
  <div class="cart__form">
    <mat-form-field appearance="outline" class="cart-form">
      <mat-label>Kaninong order?</mat-label>
      <mat-select [(ngModel)]="selectedValue">
        <mat-option *ngFor="let user of users" [value]="user">{{
          user.getName()
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="cart__form-item">
      <mat-form-field
        class="cart-form__item-name cart-form__item--bottomless"
        appearance="outline"
      >
        <mat-label>Pangalan ng Order</mat-label>
        <input matInput [(ngModel)]="itemNameInput" />
      </mat-form-field>
      <mat-form-field
        class="cart-form__item-quantity cart-form__item--bottomless"
        appearance="outline"
      >
        <mat-label>Ilan?</mat-label>
        <input matInput type="number" [(ngModel)]="itemQuantityInput" />
      </mat-form-field>
    </div>
  </div>
  <div class="cart__submit">
    <button
      mat-button
      mat-icon-button
      aria-label="Add user to list"
      (click)="submit()"
    >
      <mat-icon class="cart-form__button">add_circle</mat-icon>
    </button>
  </div>
</div>
<mat-list class="list">
  <mat-list-item class="list__item" *ngFor="let cartItem of cartItems">
    <span
      >{{ cartItem.name }} x{{ cartItem.quantity }} -
      {{ cartItem.userName }}</span
    >
    <button mat-button mat-icon-button aria-label="Remove cart from list">
      <mat-icon class="list__button">cancel</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
