.content {
  height: 90vh;
  min-height: 500px;
  overflow-y: auto;
}

.navigation {
  display: flex;
  flex: 1;
  height: 10vh;
  min-height: 50px;

  &__item {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: inherit;

    &:hover {
      cursor: pointer;
    }
  }
}
