/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-size: 12px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  box-sizing: border-box;

  &__content {
    display: flex;
    flex: 1;
    margin: auto;
    max-width: 600px;
    height: inherit;
    flex-direction: column;
    box-sizing: inherit;

    &--center {
      align-items: center;
      justify-content: center;
    }
  }

  &--full {
    height: 100vh;
  }
}
