<h2 class="header">#Sinu-sino kayo?</h2>
<form class="add-bar" [formGroup]="userForm" (ngSubmit)="addUser()">
  <mat-form-field
    appearance="outline"
    class="add-bar__form"
  >
    <mat-label>Isulat ang Pangalan</mat-label>
    <input
      matInput
      [formControl]="nameControl"
    />
    <button
      mat-button
      *ngIf="nameControl.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      type="reset"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button
    mat-button
    mat-icon-button
    aria-label="Add user to list"
    [disabled]="!userForm.valid"
    type="submit"
  >
    <mat-icon class="add-bar__button">add_circle</mat-icon>
  </button>
</form>
<mat-list class="list">
  <mat-list-item class="list__item" *ngFor="let user of users">
    <div class="list__item">
      <span>{{ user.getName() }}</span>
      <button
        mat-button
        mat-icon-button
        aria-label="Remove user from list"
        (click)="removeUser(user)"
      >
        <mat-icon class="list__button">cancel</mat-icon>
      </button>
    </div>
  </mat-list-item>
</mat-list>
<div class="order">
  <button
    class="order__button"
    mat-raised-button
    color="primary"
    routerLink="/dashboard/cart"
  >
    ORDER NA KAMI
  </button>
</div>
