<h2 class="header">#Sinu-sino kayo?</h2>
<div class="add-bar">
  <mat-form-field
    appearance="outline"
    class="add-bar__form"
    (submit)="addUser()"
  >
    <mat-label>Isulat ang Pangalan</mat-label>
    <input
      matInput
      (keydown.enter)="addUser()"
      (keydown.esc)="value = ''"
      [(ngModel)]="value"
    />
    <button
      mat-button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button
    mat-button
    mat-icon-button
    aria-label="Add user to list"
    [disabled]="!value"
    (click)="addUser()"
  >
    <mat-icon class="add-bar__button">add_circle</mat-icon>
  </button>
</div>
<mat-list class="list">
  <mat-list-item class="list__item" *ngFor="let user of users">
    <div class="list__item">
      <span>{{ user }}</span>
      <button
        mat-button
        mat-icon-button
        aria-label="Remove user from list"
        (click)="removeUser(user)"
      >
        <mat-icon class="list__button">cancel</mat-icon>
      </button>
    </div>
  </mat-list-item>
</mat-list>
