<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Kaninong order?</mat-label>
    <mat-select [(ngModel)]="data.item.user">
      <mat-option *ngFor="let user of data.users" [value]="user">{{
        user.getName()
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Pangalan ng Order</mat-label>
    <input matInput [(ngModel)]="data.item.name" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Ilan?</mat-label>
    <input matInput type="number" [(ngModel)]="data.item.quantity" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Ilan?</mat-label>
    <input matInput type="number" [(ngModel)]="data.item.cost" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data">
    OK
  </button>
</div>
